name: automated-tests

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11'] # Add newer versions as needed

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Run pytest
        run: |
          pytest ./test --junitxml=./test/results-${{ matrix.python-version }}.xml

      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results-${{ matrix.python-version }}
          path: ./test/results-${{ matrix.python-version }}.xml
